@media screen and (max-width: 480px){
    .photo{
        height: 200px;
        width:200px
    }

.TEXT1{
    font-size: medium;
}
.TEXT2{
    font-size: medium;
}
}


/* @media screen and (max-width: 1424px){
    .photo{
        height:200px;
        width:300px
    }

} */


@media screen and (max-width: 1300px){
    .photo{
        height: 300px;
        width:380px
    }
}






@media screen and (max-width: 2300px){
    .photo{
        height: 450px;
        width:580px
    }

    .TEXT1{
       margin-top: 10px;
    }
    .TEXT1{
        font-size: medium;
    }
    .TEXT2{
        font-size: medium;
    }
}